openapi: 3.0.0
info:
  title: AuctionPeer API
  version: 1.0.0
  description: Web Resources Specification (A7) for AuctionPeer

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

externalDocs:
  description: Find out more about AuctionPeer
  url: https://gitlab.up.pt/lbaw/lbaw2425/lbaw2451/-/wikis/home

tags:
  - name: 'M01: Authentication and User Profile'
  - name: 'M02: Auction Management'
  - name: 'M03: Bidding and Auction Updates'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/user/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /logout:
    get:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'User logout. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide registration form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'
    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                email:
                  type: string
              required:
                - username
                - password
                - email
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful registration. Redirect to user profile.'
                  value: '/user/{id}'
                302Failure:
                  description: 'Failed registration. Redirect to registration form.'
                  value: '/register'

  /user/{id}:
    get:
      operationId: R106
      summary: 'R106: View Profile'
      description: 'Get user profile. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Ok. Show view profile UI'
        '404':
          description: 'User not found'
    post:
      operationId: R107
      summary: 'R107: Update Profile'
      description: 'Update user profile. Access: AUTH'
      tags:
        - 'M01: Authentication and User Profile'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '200':
          description: 'Profile updated successfully'
        '403':
          description: 'Unauthorized action'
        '400':
          description: 'Invalid input'

  /auction:
    get:
      operationId: R201
      summary: 'R201: View Auctions'
      description: 'List all auctions. Access: PUB'
      tags:
        - 'M02: Auction Management'
      responses:
        '200':
          description: 'List of auctions'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auction'

  /auction/search:
    get:
      operationId: R202
      summary: 'R202: Search Auctions'
      description: 'Search auctions. Access: PUB'
      tags:
        - 'M02: Auction Management'
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Search query
      responses:
        '200':
          description: 'Search results'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auction'

  /auction/{auction}:
    get:
      operationId: R203
      summary: 'R203: Show Auction'
      description: 'Get auction details. Access: PUB'
      tags:
        - 'M02: Auction Management'
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Auction details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auction'
        '404':
          description: 'Auction not found'

  /auction/{auction}/edit:
    get:
      operationId: R204
      summary: 'R204: Edit Auction Form'
      description: 'Retrieve form for editing an auction. Access: AUTH'
      tags:
        - 'M02: Auction Management'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Auction edit form'
        '403':
          description: 'Unauthorized action'

    post:
      operationId: R205
      summary: 'R205: Update Auction'
      description: 'Submit updates for an auction. Access: AUTH'
      tags:
        - 'M02: Auction Management'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auction'
      responses:
        '200':
          description: 'Auction updated successfully'
        '403':
          description: 'Unauthorized action'
        '400':
          description: 'Invalid input'

  /auction/{auction}/cancel:
    get:
      operationId: R206
      summary: 'R206: Cancel Auction'
      description: 'Cancel an auction. Access: AUTH'
      tags:
        - 'M02: Auction Management'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Auction canceled successfully'
        '403':
          description: 'Unauthorized action'
        '404':
          description: 'Auction not found'
  /api/auction/filter:
    get:
      operationId: R207
      summary: 'R207: Filter Auctions'
      description: 'Filter auctions based on various criteria. Access: PUB'
      tags:
        - 'M02: Auction Management'
      parameters:
        - in: query
          name: sort_by
          schema:
            type: string
            description: 'Sort by criteria (e.g., lowest, highest, soonest)'
        - in: query
          name: category_id
          schema:
            type: string
            description: 'Category ID to filter auctions'
        - in: query
          name: min_price
          schema:
            type: number
            description: 'Minimum price to filter auctions'
        - in: query
          name: max_price
          schema:
            type: number
            description: 'Maximum price to filter auctions'
      responses:
        '200':
          description: 'Filtered list of auctions'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auction'
        '400':
          description: 'Invalid input'
  /auction/{auction}/bids:
    get:
      operationId: R302
      summary: 'R302: View Bids'
      description: 'View all bids for a specific auction. Access: PUB'
      tags:
        - 'M03: Bidding and Auction Updates'
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
            description: 'Auction ID'
      responses:
        '200':
          description: 'List of bids'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bid'
        '404':
          description: 'Auction not found'

    post:
      operationId: R301
      summary: 'R301: Place Bid'
      description: 'Place a new bid on a specific auction. Access: AUTH'
      tags:
        - 'M03: Bidding and Auction Updates'
      security:
        - bearerAuth: [ ]
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
            description: 'Auction ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: 'Bid amount'
              required:
                - amount
      responses:
        '201':
          description: 'Bid placed successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bid'
        '400':
          description: 'Invalid input'
        '403':
          description: 'Unauthorized action'
        '404':
          description: 'Auction not found'


components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        email:
          type: string
        status:
          type: string
          enum: [active, inactive]
    UserCreate:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        password:
          type: string
        status:
          type: string
          enum: [active, inactive]
    Auction:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        minimumBid:
          type: number
        status:
          type: string
          enum: [active, ended, canceled]
    Bid:
      type: object
      properties:
        id:
          type: string
        auctionId:
          type: string
        userId:
          type: string
        amount:
          type: number
        createdAt:
          type: string
          format: date-time

