openapi: 3.0.0
info:
  title: AuctionPeer API
  version: 1.0.0
  description: Web Resources Specification (A7) for AuctionPeer

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

externalDocs:
  description: Find out more about AuctionPeer
  url: https://gitlab.up.pt/lbaw/lbaw2425/lbaw2451/-/wikis/home

tags:
  - name: 'M01: Authentication and User Profile'
  - name: 'M02: Auction Management'
  - name: 'M03: Bidding and Auction Updates'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/user/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /logout:
    get:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'User logout. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide registration form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'
    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                email:
                  type: string
              required:
                - username
                - password
                - email
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful registration. Redirect to user profile.'
                  value: '/user/{id}'
                302Failure:
                  description: 'Failed registration. Redirect to registration form.'
                  value: '/register'

  /user/{id}:
    get:
      operationId: R106
      summary: 'R106: View Profile'
      description: 'Get user profile. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Ok. Show view profile UI'
        '404':
          description: 'User not found'

  /auctions:
    get:
      operationId: R201
      summary: 'R201: View Auctions'
      description: 'List all auctions. Access: PUB'
      tags:
        - 'M02: Auction Management'
      responses:
        '200':
          description: 'List of auctions'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auction'

  /auctions/search:
    get:
      operationId: R202
      summary: 'R202: Search Auctions'
      description: 'Search auctions. Access: PUB'
      tags:
        - 'M02: Auction Management'
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Search query
      responses:
        '200':
          description: 'Search results'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auction'

  /auctions/{auction}:
    get:
      operationId: R203
      summary: 'R203: Show Auction'
      description: 'Get auction details. Access: PUB'
      tags:
        - 'M02: Auction Management'
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Auction details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auction'
        '404':
          description: 'Auction not found'

  /auctions/{auction}/bids:
    get:
      operationId: R302
      summary: 'R302: Show Auction Bids'
      description: 'List bids for an auction. Access: PUB'
      tags:
        - 'M03: Bidding and Auction Updates'
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'List of bids'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bid'
    post:
      operationId: R301
      summary: 'R301: Place Bid'
      description: 'Place a bid on an auction. Access: AUTH'
      tags:
        - 'M03: Bidding and Auction Updates'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
      responses:
        '201':
          description: 'Bid placed successfully'
        '400':
          description: 'Invalid bid'
        '401':
          description: 'Unauthorized'
        '302':
          description: 'Redirect after placing bid.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful bid. Redirect to auction page.'
                  value: '/auctions/{auction}'
                302Failure:
                  description: 'Failed bid. Redirect to auction page.'
                  value: '/auctions/{auction}'

  /admin/users:
    get:
      operationId: R113
      summary: 'R113: Administrate User Form'
      description: 'List all user accounts. Access: ADMIN'
      tags:
        - 'M01: Authentication and User Profile'
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 'List of user accounts'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '403':
          description: 'Forbidden - requires admin privileges'

  /admin/users/create:
    get:
      operationId: R114
      summary: 'R114: Create User Form'
      description: 'Show user creation form. Access: ADMIN'
      tags:
        - 'M01: Authentication and User Profile'
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 'User creation form displayed successfully'
        '403':
          description: 'Forbidden - requires admin privileges'
    post:
      operationId: R115
      summary: 'R115: Create User Action'
      description: 'Create new user (admin). Access: ADMIN'
      tags:
        - 'M01: Authentication and User Profile'
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '201':
          description: 'User created successfully'
        '403':
          description: 'Forbidden - requires admin privileges'
        '400':
          description: 'Invalid user data'
        '302':
          description: 'Redirect after creating user.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'User created. Redirect to user list.'
                  value: '/admin/users'
                302Failure:
                  description: 'Failed to create user. Redirect to user creation form.'
                  value: '/admin/users/create'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        email:
          type: string
        status:
          type: string
          enum: [active, inactive]
    UserCreate:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        password:
          type: string
        status:
          type: string
          enum: [active, inactive]
    Auction:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        minimumBid:
          type: number
        status:
          type: string
          enum: [active, ended, canceled]
    Bid:
      type: object
      properties:
        id:
          type: string
        auctionId:
          type: string
        userId:
          type: string
        amount:
          type: number
        createdAt:
          type: string
          format: date-time