openapi: 3.0.0
info:
  title: AuctionPeer API
  version: 1.0.0
  description: Web Resources Specification (A7) for AuctionPeer

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

externalDocs:
  description: Find out more about AuctionPeer
  url: https://gitlab.up.pt/lbaw/lbaw2425/lbaw2451/-/wikis/home

tags:
  - name: 'M01: Authentication and User Profile'
  - name: 'M02: Auction Management'
  - name: 'M03: Bidding and Auction Updates'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/user/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /logout:
    get:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'User logout. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide registration form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'
    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                email:
                  type: string
              required:
                - username
                - password
                - email
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful registration. Redirect to user profile.'
                  value: '/user/{id}'
                302Failure:
                  description: 'Failed registration. Redirect to registration form.'
                  value: '/register'

  /user/{id}:
    get:
      operationId: R106
      summary: 'R106: View Profile'
      description: 'Get user profile. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Ok. Show view profile UI'
        '404':
          description: 'User not found'
    post:
      operationId: R107
      summary: 'R107: Update Profile'
      description: 'Update user profile. Access: AUTH'
      tags:
        - 'M01: Authentication and User Profile'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '200':
          description: 'Profile updated successfully'
        '403':
          description: 'Unauthorized action'
        '400':
          description: 'Invalid input'

  /auctions:
    get:
      operationId: R201
      summary: 'R201: View Auctions'
      description: 'List all auctions. Access: PUB'
      tags:
        - 'M02: Auction Management'
      responses:
        '200':
          description: 'List of auctions'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auction'

  /auctions/search:
    get:
      operationId: R202
      summary: 'R202: Search Auctions'
      description: 'Search auctions. Access: PUB'
      tags:
        - 'M02: Auction Management'
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Search query
      responses:
        '200':
          description: 'Search results'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auction'

  /auctions/{auction}:
    get:
      operationId: R203
      summary: 'R203: Show Auction'
      description: 'Get auction details. Access: PUB'
      tags:
        - 'M02: Auction Management'
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Auction details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auction'
        '404':
          description: 'Auction not found'

  /auctions/{auction}/edit:
    get:
      operationId: R204
      summary: 'R204: Edit Auction Form'
      description: 'Retrieve form for editing an auction. Access: AUTH'
      tags:
        - 'M02: Auction Management'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Auction edit form'
        '403':
          description: 'Unauthorized action'

    post:
      operationId: R205
      summary: 'R205: Update Auction'
      description: 'Submit updates for an auction. Access: AUTH'
      tags:
        - 'M02: Auction Management'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auction'
      responses:
        '200':
          description: 'Auction updated successfully'
        '403':
          description: 'Unauthorized action'
        '400':
          description: 'Invalid input'

  /auctions/{auction}/cancel:
    get:
      operationId: R206
      summary: 'R206: Cancel Auction'
      description: 'Cancel an auction. Access: AUTH'
      tags:
        - 'M02: Auction Management'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: auction
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Auction canceled successfully'
        '403':
          description: 'Unauthorized action'
        '404':
          description: 'Auction not found'
